#cpick {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    z-index: 15;
    transition: .3s all;
    cursor: pointer;
}

.cpick-active {
    filter: invert(100%);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: #fefefe;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    max-height: 64px;
  -webkit-scroll-snap-points-y: repeat(100%);
      -ms-scroll-snap-points-y: repeat(100%);
          scroll-snap-points-y: repeat(100%);
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 100% 0%;
      -ms-scroll-snap-destination: 100% 0%;
          scroll-snap-destination: 100% 0%;
}

.modal-inner {
    text-align: left;
    max-width: 90%;
    max-width: calc(100% - 32px);
}

.modal-active {
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    display: block;
}

.modal-losing-active {
    animation-name: slideOut;
    animation-duration: 0.4s;
}

/* Add Animation */
@keyframes slideIn {
    from {bottom: -300px;}
    to {bottom: 0;}
}

@keyframes slideOut {
    from {bottom: 0px;}
    to {bottom: -300px;}
}

.color-circle {
    width: 48px;
    height: 48px;
    display: inline-block;
    margin: 0.2em;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}
