@font-face {
    font-family: MasonWritingBad;
    src: url('../fonts/MasonWritingBad.otf');
}
.garbage2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003a7c+0,96b497+51,ff9d00+73,ff9d00+81,f25206+100 */
    
    background: #003a7c;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #003a7c 0%, #96b497 51%, #ff9d00 73%, #ff9d00 81%, #f25206 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #003a7c), color-stop(51%, #96b497), color-stop(73%, #ff9d00), color-stop(81%, #ff9d00), color-stop(100%, #f25206));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #003a7c 0%, #96b497 51%, #ff9d00 73%, #ff9d00 81%, #f25206 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #003a7c 0%, #96b497 51%, #ff9d00 73%, #ff9d00 81%, #f25206 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #003a7c 0%, #96b497 51%, #ff9d00 73%, #ff9d00 81%, #f25206 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #003a7c 0%, #96b497 51%, #ff9d00 73%, #ff9d00 81%, #f25206 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#003a7c', endColorstr='#f25206', GradientType=0);
    /* IE6-9 */
    
    background-attachment: fixed;
}
.garbage {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003a7c+16,96b497+51,ff9d00+73,ff9d00+81,f25206+100 */
    
    background: #003a7c;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #003a7c 16%, #96b497 51%, #ff9d00 73%, #ff9d00 81%, #f25206 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%, #003a7c), color-stop(51%, #96b497), color-stop(73%, #ff9d00), color-stop(81%, #ff9d00), color-stop(100%, #f25206));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #003a7c 16%, #96b497 51%, #ff9d00 73%, #ff9d00 81%, #f25206 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #003a7c 16%, #96b497 51%, #ff9d00 73%, #ff9d00 81%, #f25206 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #003a7c 16%, #96b497 51%, #ff9d00 73%, #ff9d00 81%, #f25206 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #003a7c 16%, #96b497 51%, #ff9d00 73%, #ff9d00 81%, #f25206 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#003a7c', endColorstr='#f25206', GradientType=0);
    /* IE6-9 */
}
/* too browser intensive.
  background: url('hills.png') 0 bottom repeat-x,
              url('mountain-far.png') 40% bottom repeat-x,
              url('clouds.png') 80% 0 repeat-x;
  -webkit-animation: anibg 450s linear infinite;
     -moz-animation: anibg 450s linear infinite;
       -o-animation: anibg 450s linear infinite;
          animation: anibg 450s linear infinite;
}
@keyframes anibg {
  0%   {left:0;}
  50%  {left:-9999px;}
  100% {left:0;}
}
@-moz-keyframes anibg {
  0%   {left:0;}
  50%  {left:-9999px;}
  100% {left:0;}
}
@-webkit-keyframes anibg {
  0%   {left:0;}
  50%  {left:-9999px;}
  100% {left:0;}
}
@-o-keyframes anibg {
  0%   {left:0;}
  50%  {left:-9999px;}
  100% {left:0;}
}*/

html {
    background-color: #FFFEE8;
}
body {
    font-size: 2em;
    color: #000;
    overflow-x: hidden;
    margin: 0;
    font-family: MasonWritingBad, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
.content {
    margin: 10px;
    text-align: center;
}
section {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    transition: all 0.5s linear;
}
#infosec {
    -ms-transform: translateX(-5000px);
    /* IE 9 */
    
    -webkit-transform: translateX(-5000px);
    /* Chrome, Safari, Opera */
    
    transform: translateX(-5000px);
    text-align: center;
}
#mainsec {
    -ms-transform: translateX(0px);
    /* IE 9 */
    
    -webkit-transform: translateX(0px);
    /* Chrome, Safari, Opera */
    
    transform: translateX(0px);
    top: 15%;
    text-align: center
}
#portsec {
    -ms-transform: translateX(5000px);
    /* IE 9 */
    
    -webkit-transform: translateX(5000px);
    /* Chrome, Safari, Opera */
    
    transform: translateX(5000px);
}
#contactbar a {
    font-family: 'FontAwesome';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#contactbar {
    font-size: 2em;
}
.aboutme {
    max-width: 1000px;
    text-align: left;
    margin: 3% auto;
}
table,
thead,
tr,
td,
th {
    font-weight: normal;
    text-align: left;
    font-size: 25px;
    border: 1px solid black;
}
a {
    text-decoration: none;
    color: gray;
    transition: 0.5s all ease;
}
a:hover,
a:active {
    color: black;
}
#tglfont {
    bottom: 0;
    right: 0;
    font-size: 20px;
    position: fixed;
}
