html {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#afafaf+0,777777+100 */
    background: #afafaf; /* Old browsers */
    background: linear-gradient(135deg,  #afafaf 0%,#777777 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#777777',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-attachment: fixed;
}

body {
    margin: 2em auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    max-width: 800px;
    padding: 2em;
    color: #000;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

section {
    padding-bottom: 1em;
}

.textcontainer {
    font-size: 1.3em;
}

.textcontainer p {
    text-align: left;
}

h1 {
    margin: 0 0 0.2em 0;
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
}

.textcontainer a { color: #00bfff; }

.tag {
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(100, 100, 100, 0.4);
    transition: all .2s ease-in-out;
    line-height: 2.3;
    color: #000;
    font-size: 1.2em;
}

.tag:hover {
    background-color: rgba(0, 191, 255, 0.6);
}

.selected {
    background-color: rgba(0, 191, 255, 0.6);
}

#projList {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.projItm {
    background: rgba(128, 128, 128, 0.4);
    margin-bottom: 0.5em;
    border-radius: 5px;
    text-align: left;
    padding: 0.5em 1em 0.5em 1em;
    color: #000;
}

.projItm a { color: #000; }

.projItm h1 {
    font-size: 1.5em;
    display: inline-block;
}

.expanded h1 {
    font-size: 2.2em;
}

.expanded {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00bfff+0,00b6ff+100 */
    background: #00bfff; /* Old browsers */
    background: linear-gradient(135deg,  #00bfff 0%,#00ccff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.closer {
    float: right;
    font-size: 1.6em;
}

.closer::before {
    content:'+';
}

.expanded .closer::before {
    content:'\2014';
}

.moreBox {
    display: none;
    font-size: 1.2em;
}

.expanded .moreBox {
    display: block;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        max-width: 100%;
        padding: 3em 5px 2em 5px;
    }
}