/* custom font */
@font-face {
    font-family: MasonWritingBad;
    src: url('../fonts/MasonWritingBad.otf');
}

/*
 * basic styling for htm
 */
html {
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 125%;
    overflow: hidden;
    /* Background pattern from subtlepatterns.com */
    background: url('/res/retina_wood_@2X.png');
    margin: 0;
    padding: 0;
}
/* remove h margins */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
/* card */
#card {
    /* center card */
    margin: 5em auto;
    /* slightly round */
    border-radius: 2px;
    /* box shadow to make it look 3d-er */
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.64);
    transition: all 0.4s;
    background-color: #fff;
}

#cardf {
    /* padding */
    padding: 2px;
    /* flex display so we can align div side by side */
    display: flex;
}

/* left side styling - not much here, just sizing */
#cardf .left {
    width: calc(45% - 20px);
    height: calc(100% - 20px);
    padding: 20px 0 0 20px;
    font-size: 150%;
}

/* handwritten name */
#cardf h1 {
    font-family: MasonWritingBad;
    font-weight: normal;
    font-size: 180%;
}

/* right size styling */
#cardf .right {
    flex-grow: 1;
    height: calc(100% - 20px);
    padding: 20px 0 0 0;
}

/* Contact list styling */
#cardf ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cardf li {
    margin-bottom: 3px;
}
/* remove link stuff */
#cardf li a, #cardf li a:visited, #cardf li a:active, #cardf li a:hover {
    color: #000;
    text-decoration: none;
}
/* special id's for each icon */
#cardf #github:before {
    content: '\f09b\0a0';
    font-family: 'FontAwesome';
    font-size: 150%;
}
#cardf #email:before {
    content: '\f0e0\0a0';
    font-family: 'FontAwesome';
    font-size: 150%;
}
#cardf #more:before {
    content: '\f059\0a0';
    font-family: 'FontAwesome';
    font-size: 150%;
}

/* card stack effect */
#card:before {
    content: "";
    width: 500px;
    height: 250px;
    
    /* slightly round */
    border-radius: 2px;
    /* box shadow to make it look 3d-er */
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.64);
    background-color: #fff;

    position: absolute;
    z-index: -1;
    transform: rotate(2deg);
}
#cardf:before {
    content: "";
    width: 500px;
    height: 250px;
    
    /* slightly round */
    border-radius: 2px;
    /* box shadow to make it look 3d-er */
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.64);
    background-color: #fff;

    position: absolute;
    z-index: -2;
    transform: rotate(-2deg);
}

#ccup {
    background: url('/res/coffee.png');
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 300px;
    width: 300px;
    z-index: -2;
}

@media (min-width: 550px) {
#card {
    /* default size */
    width: 500px;
    height: 250px;
}
}

@media (max-width: 550px) {
#card {
    /* center card */
    margin: 0;
    /* slightly round */
    border-radius: 0;
    /* box shadow to make it look 3d-er */
    box-shadow: none;
}

html {
    overflow: visible;
    background: #fff;
}
#cardf {
    /* padding */
    padding: 2px;
    /* flex display so we can align div side by side */
    display: block;
}
/* left side styling - not much here, just sizing */
#cardf .left {
    width: 100%;
    padding: 0;
}

/* right size styling */
#cardf .right {
    display: block;
    padding: 0;
}

#ccup {
    display: none;
}

/* card stack effect */
#card:before {
    display: none;
}
#cardf:before {
    display: none;
}
}
@media (max-height: 675px) {
#ccup {
    display: none;
}
}
@media (max-height: 400px) {
#card {
    /* center card */
    margin: 1em auto;
}
html {
    overflow: visible;
}
}



